.preferences {
  position: absolute;
  width: 302px;
  height: 300px;
  left: 51px;
  top: 461px;

  background: #FFD9A0;

}

.notifications {
  position: absolute;
  width: 302px;
  left: 51px;
  top: 800px;

  background: #FFD9A0;
}

.preferences-title {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding: 10px;
}

.preference-tag {
  background: #FFAB2D;
  border: 5px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 40px;
  text-align: center;
  width: 150px;
  height: 50px;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 9px;
}

.settings:hover {
  background-color: #ffd9a0;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;

  position: absolute;
  width: 303px;
  height: 98px;
  left: 50px;
  top: 324px;

  background: #FAE9C7;
  border: 16px solid #FFD9A0;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home:hover {
  background-color: #ffd9a0;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;

  position: absolute;
  width: 303px;
  height: 98px;
  left: 51px;
  top: 187px;

  background: #FAE9C7;
  border: 16px solid #FFD9A0;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}